@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes idealMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  line-height: 1.7;
  padding: 3rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right bottom, #9d9595, #676a70);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(1deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #565656;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #676a70;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #676a70;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: -9px;
  top: -4rem;
}

.composition__photo--p2 {
  left: 69px;
  top: 5rem;
}

.composition__photo--p3 {
  left: 49%;
  top: -1rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #676a70;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.work_in_plain {
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 25rem;
  margin-top: -15vh;
  margin-bottom: -15vh;
}

.tittle_prices_section {
  font-size: 4.5rem;
}

.row {
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
}

.bck-img {
  height: 95vh;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, rgba(157, 149, 149, 0.64), rgba(131, 134, 140, 0.78)), url(../img/road-gadcf5c757_1920.jpg);
  block-size: cover;
  background-position: top;
  background-size: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.logo-box {
  position: absolute;
  top: 25px;
  left: 25px;
}

.logo {
  height: 175px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary .heading-primary-main {
  display: block;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-in-out;
}

.heading-primary .heading-primary-sub {
  display: block;
  font-size: 18.4px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem;
  margin-top: -15vh;
  margin-bottom: -15vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(157, 149, 149, 0.64), rgba(131, 134, 140, 0.78)), url(img\road-gadcf5c757_1920.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-features > * {
  transform: skewY(7deg);
}

.section-features .header-works {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 5rem;
  margin-top: -11rem;
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
}

.section-features .row-websites {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-features .works-col {
  border-radius: 10px;
  max-width: 46rem;
  height: 37rem;
}

.section-features .section-features-row-image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.section-features .layer {
  border-radius: 10px;
  background: transparent;
  height: 37rem;
  width: 46rem;
  position: absolute;
  top: 0;
  left: 13.5px;
  transition: 0.5s;
}

.section-features .layer:hover {
  background: rgba(233, 169, 235, 0.7);
}

.section-features .text-works {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 2.5rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.section-our-job {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(157, 149, 149, 0.64), rgba(131, 134, 140, 0.78)), url(img\erisa.flowers.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-our-job > * {
  transform: skewY(7deg);
}

.section-our-job {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
  font-size: 3.5rem;
}

.row-job {
  display: flex;
  justify-content: space-around;
}

.col-job {
  flex-basis: 32%;
  height: 35rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
}

.col-job img {
  width: 100%;
  height: 100%;
}

.layer-job {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer-job:hover {
  background: rgba(226, 0, 0, 0.7);
  cursor: pointer;
}

.layer-job:hover .text-hover-job {
  bottom: 49%;
  opacity: 1;
}

.text-job {
  font-family: "Lato", sans-serif;
  color: white;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
}

.text-hover-job {
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.footer {
  margin-top: 15rem;
  height: 95vh;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, rgba(157, 149, 149, 0.64), rgba(131, 134, 140, 0.78)), url(img\road-gadcf5c757_1920.jpg);
  block-size: cover;
  background-position: top;
  background-size: 100%;
  clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
}

.footer__findus {
  font-size: 4rem;
  padding-top: 18rem;
  display: flex;
  justify-content: center;
  margin-top: 22rem;
  font-family: "Sofia", sans-serif;
  padding-bottom: 3rem;
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__container__ul {
  list-style-type: none;
}

.footer__container__ul__social {
  width: 5rem;
  text-decoration: none;
  cursor: pointer;
}

.footer__container__person {
  width: 20rem;
  border-radius: 50%;
  padding-top: 2rem;
}

.footer__container__person__erisa {
  margin-left: 3.5rem;
  border-style: solid;
  padding: 7px;
  text-decoration: none;
  border-color: white;
  box-shadow: 3px 3px 3px #ababab;
}

.footer__container__person__ideal {
  margin-right: 3.5rem;
  border-style: solid;
  padding: 7px;
  border-color: white;
  box-shadow: 3px 3px 3px #ababab;
  border-color: white;
  box-shadow: 3px 3px 3px #ababab;
}

.text-hover-job-ideal {
  font-size: 3rem;
  padding-right: 8rem;
  font-family: "Sofia", sans-serif;
  color: white;
  text-shadow: 3px 3px 3px #ababab;
}

.div-footer-erisa {
  display: flex;
  height: 21rem;
  margin-top: 5rem;
  align-items: center;
  transition: 0.3s ease;
  text-decoration: none;
}

.div-footer-erisa:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.div-footer-erisa:hover__picture {
  box-shadow: 6px 6px 6px 6px #ababab;
}

.div-footer-ideal {
  height: 21rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.div-footer-ideal:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.div-footer-ideal:hover__picture {
  box-shadow: 6px 6px 6px 6px #ababab;
}

.text-hover-job-erisa {
  font-size: 3rem;
  padding-left: 8rem;
  font-family: "Sofia", sans-serif;
  color: white;
  text-shadow: 3px 3px 3px #ababab;
}

html {
  scroll-behavior: smooth;
}

.text-social {
  font-family: "Sofia", sans-serif;
  color: white;
  text-shadow: 3px 3px 3px #ababab;
  font-size: 2.5rem;
  text-decoration: none;
  padding-bottom: 2rem;
}

.list-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img\road-gadcf5c757_1920.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
}

.contact-box {
  max-width: 850px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.1);
}

.left {
  height: 100%;
  background: url(img\road-gadcf5c757_1920.jpg) no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

.contact-us-text {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 40px;
}

h5::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 80%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(225, 215, 215, 0.6);
  font-size: 1.1rem;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 85px;
  margin-top: 44px;
}

.btncontact {
  width: 80%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}

.btncontact:hover {
  background-color: #27ae60;
}

.container-about {
  display: block;
}

.container-about__title {
  display: flex;
  justify-content: space-between;
  height: 15rem;
}

.container-about__title__text {
  font-size: 40px;
  padding-right: 15px;
  color: white;
}

.container-about__title__logo {
  cursor: pointer;
}

.container-about__all-lines {
  opacity: 0;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.container-about__first-line {
  height: 18rem;
  display: flex;
  margin-bottom: 3rem;
  animation: items_appear 2000ms forwards;
  animation-duration: 2000ms;
  animation: 2000ms forwards;
  animation-duration: 2000ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: items_appear;
  animation-delay: 200ms;
}

.container-about__first-line__text {
  color: white;
  font-size: 23px;
}

.container-about__second-line {
  padding-right: 15px;
  margin-top: 4rem;
  height: 18rem;
  display: flex;
  animation: items_appear 2000ms forwards;
  animation-duration: 2000ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: items_appear;
  animation-delay: 600ms;
}

.container-about__second-line__text {
  color: white;
  padding-left: 63px;
  font-size: 23px;
}

table {
  width: 100%;
  height: 50%;
  margin-top: 30rem;
  border: 1px solid #ffd6ae;
  animation: items_appear 2000ms forwards;
  animation-duration: 2000ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: items_appear;
  animation-delay: 800ms;
}

.td {
  border: 1px solid #81c73f;
  text-align: center;
  font-size: 25px;
}

.td2 {
  width: 80rem;
  text-align: center;
  font-size: 25px;
}

thead,
tfoot {
  background-image: linear-gradient(to right bottom, #f4c663, #47f35b);
  color: #fff;
}

.testimonials {
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 65px;
  height: 5px;
  background: #6ab0ac;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 45rem;
}

.col {
  flex: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  height: 20rem;
}

.testimonial {
  background: #fff;
  padding: 30px;
}

.testimonial img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px 0px #b3b3b3;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.text-col {
  font-size: 2rem;
  font-family: "Sofia", sans-serif;
}

.form-height {
  height: 12px;
}

@keyframes items_appear {
  0% {
    opacity: 0;
    transform: translateY(7%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header-btn {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  border: 4px solid #fff;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  border-radius: 70px;
  transform: 0.8s;
  overflow: hidden;
  backface-visibility: hidden;
  animation: moveInTop 1s ease-in-out;
  margin-top: 40px;
  transition-property: color;
  transition-delay: 0.25s;
}

.header-btn:hover {
  cursor: pointer;
  color: rgba(131, 134, 140, 0.92);
  height: 180%;
  font-size: 2rem;
}

.header-btn::before {
  content: "";
  position: absolute;
  height: 0%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 20% 20%;
}

.header-btn:hover::before {
  height: 200%;
  width: 180%;
}

.container-shop {
  width: 15rem;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

.ideal-bckgrnd {
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, #9d9595, rgba(131, 134, 140, 0.92));
  clip-path: circle(9% at 5% 25%);
}

.ideal {
  height: 199px;
  animation: idealMove 5s ease-in-out;
  backface-visibility: hidden;
}

.container-shop {
  width: 15rem;
}
/*# sourceMappingURL=main.css.map */