$color-primary: rgba(157, 149, 149, 0.64);
$color-secondary: rgba(131, 134, 140, 0.78);
$color-body-text: #777;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$gutter-horizontal: 6rem;
$default-font-size: 1.6rem;
